/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-dic-2018, 16:46:26
    Author     : Adrian
*/
    body{
        background-color: grey;
    }
    .padre{
        display: flex;
        justify-content: center;
        text-align: center;

    }
    .hijo{
        border: 1px solid black;
        padding: 15px;
        background-color: white;
    }
    #alertUser{
        position: absolute;
        top: -3px;
        left: 21%;
    }
    .alertVisible{
        color: red;
        font-size: 12px;
    }
    .alertInvisible{
        color: red;
        font-size: 12px;
        display: none;
    }