/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-dic-2018, 15:56:50
    Author     : Adrian
*/
body.Inicio{
    background-color: darkgray;
}
form{
    margin: 2px;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.principal{
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.autentificacion{
    text-align: center;
    margin: 5px;
}
.input{
    width: 32.5%;
}
.logo{
    margin: 2px;
}
.formulario{
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}
.logica{
    background-color: darkgray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 2.5em;
}
.centro{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}